<form [formGroup]="form" (ngSubmit)=logger(form)>

  <div class="form-group">
      <label for="id1">Old Password</label>
      <input id="id1" formControlName="oldPassword" type="password" class="form-control">
      <div *ngIf="oldPassword.touched && oldPassword.invalid"
            class="alert alert-danger">
        <div *ngIf="oldPassword.errors.required">
            Old Password is required!
        </div>
        <div *ngIf="oldPassword.errors.invalidOldPassword">
            Old password is incorrect!
        </div>
        
      </div>
  </div>
  <div class="form-group" >
      <label for="id2">New Passsword</label>
      <input id="id2" formControlName="newPassword" type="password" class="form-control">
      <div *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger">
  <div *ngIf="newPassword.errors.required">
      New Password is required!
  </div>
  
</div>
  </div>
  <div class="form-group">
      <label for="id3">Confirm Password</label>
      <input id="id3" formControlName="confirmPassword" type="password" class="form-control">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
      class="alert alert-danger">
  <div *ngIf="confirmPassword.errors.required">
      Confirm Password is required!
  </div>

  
</div>
<div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
    Passwords don't match!
</div>
  </div>
  
  <button class="btn btn-primary">Change Password</button>

</form>