<h1>{{title}}</h1>
<!-- 
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <bootstrap-panel>
    <div class="heading">Heading</div>
    <div class="body">

        <h2>Body</h2>
        <p>Some Content Here...</p>
    </div>

</bootstrap-panel> -->

<!-- <like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like> -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->
<!-- <zippy [title]="'Shipping Details'">
    Shipping Details Content
</zippy> -->
<!-- <contact-form></contact-form> -->
<!-- <new-course-form></new-course-form> -->
<!-- <new-course></new-course> -->
<!-- <change-password></change-password> -->
<!-- <posts></posts> -->
<github-followers></github-followers>