.avatar{
    width:80px;
    height:80px;
    border-radius:100%;
}

.container{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
}


@media   (orientation:landscape)
{
    .item{
        margin-top: 15;  
    flex-basis: 50%;
}
 
}

@media (orientation:portrait)
{
    .item{ 
    text-align: center;
    }
}

@media screen and (min-height:640px) and (orientation:portrait)
{
    .item{  
    flex-basis: 400px;
}
 
}